body{
    margin: 0;
    background-color: #B0A3D4;
    font-size: 14pt;
    font-family: 'Quicksand', sans-serif;
    background-image: url("../assets/iphone.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 25vh;

    h1{
        color: white;
        font-family: 'Abril Fatface', cursive;
        font-weight: 300;
        margin-bottom: 5px;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    min-height: 80vh;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    #main-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;

        #sort-wrapper{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 270px;
            row-gap: 5px;

            span{
                font-family: 'Abril Fatface', cursive;
            }

            ul{
                display: flex;
                column-gap: 10px;
                list-style: none;
                margin-top: 0;
                padding: 0;

                li{
                    font-size: 0.9rem;
                    cursor: pointer;
                }

                .chosenSort{
                    font-weight: bold;
                }
            }
        }

        #task-container{
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 1rem;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 245px;
                height: 50px;
                border: 1px solid lightgrey;
                border-radius: 5px;
                padding-left: 15px;
                padding-right: 15px;

                div{
                    display: flex;
                    width: 40px;
                    justify-content: space-between;
                    align-items: center;

                    .remove{
                        font-size: 1.4rem;
                    }
                }

            }
            .marked-text{
                color: lightgray;
            }
        }

        #new-task{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 260px;
            height: 50px;
            border: 1px solid lightgrey;
            border-radius: 5px;
            padding-left: 15px;
            margin-top: 12px;

            #inputTask{
                font-family: 'Quicksand', sans-serif;
                font-size: 1rem;
                border: none;
            }

            #addTask{
                height: 50px;
                width: 30%;
                background-color: #7D80DA;
                border: none;
                color: white;
                font-family: 'Quicksand', sans-serif;
                padding: 10px 10px 5px 5px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
        
    }
}

@media only screen and (min-width: 768px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;

        background-image: url("../assets/desktop.png");

        main{
            width: 768px;
        }
    }
}